# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel
/vendor
/.env
.env.*
/storage/*.key
/storage/*.log
/storage/framework/cache/data/*
/storage/logs/*
/bootstrap/cache/*

# System
.DS_Store
.idea/
.vscode/

# Build
/frontend/build
/public/hot
/public/storage

